body {
  background: #fff;
  margin: 0;
  padding: 30px;
}

.card, .card-back {
  width: 424px;
  height: 271px;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
}

.question {
  color: #FF0043;
}

.answer {
  color: #0090C2
}

.heart, .spade, .club, .diamond {
  position: absolute;
  font-size: 61px;
}

.heart, .spade {
  top: 2px;
}

.club, .diamond {
  bottom: 5px;
}

.heart, .club {
  left: 10px;
}

.spade, .diamond {
  right: 10px;
}

.card, .card-back, .shuffle, .next {
  border: 1px dashed black;
  margin: 15px;
}

.shuffle, .next {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background: #eee;
}

.card {
  background: #efefef;
}

.card-back {
  background: #8abcbf;
}
